{% extends 'base.html' %}
{% load static %}

{% block header %}
    <div class="container">
        <nav class="navbar sticky-top navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1">
                Django Movie database
            </span>
            <span class="navbar-brand mb-0 h4">
                User: {{ request.user }}
                <a href="{% url 'mylogout'%}">Logout</a>
            </span>
            <form class="form-inline">
                <input type="search" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    </div>
{% endblock header %}
